Importar as bibliotecas que serão usadas:

In [16]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

Importar os dados treino e teste já criados:

In [17]:
train = pd.read_csv('/content/drive/My Drive/data/Titanic/train.csv')
test = pd.read_csv('/content/drive/My Drive/data/Titanic/test.csv')

Criar modelo de Machine Learning. Nesse caso, usamos o RandomForestClassifier:

In [18]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)

Juntar as variáveis que serão usadas no modelo:

In [19]:
variaveis = ['Sex_bin', 'Age']

Criar função para transformar os dados do 'sexo' de cada passageiro para numérico, já que o modelo de ML usado não trabalha com strings:

In [20]:
def transformar_sexo(valor) :
  if valor == 'female' :
    return 1
  else:
    return 0

train['Sex_bin'] = train['Sex'].map(transformar_sexo)

In [21]:
train.head()

   PassengerId  Survived  Pclass  ... Cabin Embarked  Sex_bin
0            1         0       3  ...   NaN        S        0
1            2         1       1  ...   C85        C        1
2            3         1       3  ...   NaN        S        1
3            4         1       1  ...  C123        S        1
4            5         0       3  ...   NaN        S        0

[5 rows x 13 columns]

Separar os dados de variáveis(x) que serão usadas no teste e os resultados esperados(y) para treinar o modelo:

In [22]:
X = train[variaveis]
Y = train['Survived']

Foi necessário tirar os dados sem informação (NaN) e para isso, de forma simples, só transformamos eles em um número sem influência, como -1:

In [23]:
X = X.fillna(-1)

# Validação Cruzada

In [31]:
resultados = []
for rep in range(10):
  kf = KFold(2, shuffle=True, random_state=rep)
  for linhas_treino, linhas_valid in kf.split(X):
    print('Treino:', linhas_treino.shape[0])
    print('Valid', linhas_valid.shape[0])

    X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_valid]
    Y_treino, Y_valid = Y.iloc[linhas_treino], Y.iloc[linhas_valid]

    modelo.fit(X_treino, Y_treino)
    prev = modelo.predict(X_valid)
    acc = np.mean(Y_valid == prev)
    resultados.append(acc)
    print('Acc:', acc)
    print()
  
print('Média:', np.mean(resultados))

Treino: 445
Valid 446
Acc: 0.7713004484304933

Treino: 446
Valid 445
Acc: 0.7797752808988764

Treino: 445
Valid 446
Acc: 0.7443946188340808

Treino: 446
Valid 445
Acc: 0.7955056179775281

Treino: 445
Valid 446
Acc: 0.7757847533632287

Treino: 446
Valid 445
Acc: 0.7887640449438202

Treino: 445
Valid 446
Acc: 0.7533632286995515

Treino: 446
Valid 445
Acc: 0.7573033707865169

Treino: 445
Valid 446
Acc: 0.7354260089686099

Treino: 446
Valid 445
Acc: 0.7415730337078652

Treino: 445
Valid 446
Acc: 0.7219730941704036

Treino: 446
Valid 445
Acc: 0.7056179775280899

Treino: 445
Valid 446
Acc: 0.7757847533632287

Treino: 446
Valid 445
Acc: 0.7303370786516854

Treino: 445
Valid 446
Acc: 0.7040358744394619

Treino: 446
Valid 445
Acc: 0.7348314606741573

Treino: 445
Valid 446
Acc: 0.7488789237668162

Treino: 446
Valid 445
Acc: 0.7887640449438202

Treino: 445
Valid 446
Acc: 0.7623318385650224

Treino: 446
Valid 445
Acc: 0.7842696629213484

Média: 0.7550007557817302